section.contact
  .inner.grid
    form.c-7-lg.grid.gap.gap-r(method="post" action="#")

      .c-6-md
        label(for="name") Name
        input#name(
          type="text", name="name" required
          )

      .c-6-md
        label(for="email") Email
        input#email(
          type="email", name="email" required
          )

      .c-12
        label(for="message") Message
        textarea#message(
          name='message'
          rows='6'
          minlength="100"
          required
          )

      ul.actions.line.c-12
        li
          input.primary(type='submit', value='Send Message')
        li
          input(type='reset', value='Clear')

    .c-5-lg
      .contact-method
        span.icon.alt.fas.fa-envelope
        h3 Email
        a.link(href="mailto:information@untitled.tld")
          | information@untitled.tld

      .contact-method
        span.icon.alt.fas.fa-phone
        h3 Phone
        a(href="tel:(000) 000-0000") (000) 000-0000

      .contact-method
        span.icon.alt.fas.fa-home
        h3 Address
        span
          | 1234 Somewhere Road #5432
          br
          | Nashville, TN 00000
          br
          | United States of America