mixin links-list(prefix, hrefs, titles=[], classes=[])
  ul(class=`${prefix}`)
    each link, i in hrefs
      li(class=`${prefix}__item`)
          a(
            class=`${prefix}__link${classes[i] ? ' ' + classes[i] : ''}`
            href=link
          ) #{`${titles[i] ? titles[i] : ''}`}