mixin socials(_icons, hrefs, mods=[])
  ul.socials
    each icon, i in _icons
      li.socials__item
        if mods
          a.socials__link(class=`${icon}${mods[i] ? ' ' + mods[i] : ''}`, href=hrefs[i])
        else
          a.socials__link(class=icon, href=hrefs[i])